@import "../../styles/variables.scss";

.tooltip-script-text {
  .ant-tooltip-inner {
    max-height: 400px;
    overflow: auto;
    @media (min-width: $screen-xs) {
      width: 400px;
    }
  }
}

.test-script-detail {
  .ant-descriptions-item-label {
    font-weight: 500;
    color: black;
  }

  .script-content pre {
    margin: 0px;
    max-height: 600px;
    overflow: auto;
    padding-right: 12px;
  }
}
